# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = pochanwenshu.settings

[deploy]
url = http://localhost:6800/addversion.json
;url = http://0.0.0.0:6800/addversion.json
project = pochanwenshu
